/* Centering the content */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #121212;
  padding: 20px;
}

/* Oops! Styling */
.oops {
  font-size: 5rem;
  font-weight: bold;
  color: #000000; /* Pure black text */
  /* background: var(--line-gradient-color); */
  background-color: #333333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Title */
.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

/* Description */
.text {
  font-size: 1.2rem;
  color: #555;
  max-width: 500px;
  margin-top: 10px;
  line-height: 1.5;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #bb1d2c;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #991722;
}
